body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color:  rgb(255, 224, 181);
}

/* Nav bar start */
.nav_bar-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(238, 159, 48);
    
  }
  
  li {
    float: right;
    list-style-type: none;
  }
  
  .navbar__link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-weight: bold;
    text-decoration: none;
  }
  
  
  .navbar__link:hover {
    background-color: rgb(242, 3, 3);
  }

/* Nav bar end */

.parent-grid {  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: auto;
    padding: 10px;
}

/* Article card start */

.grid-title {
    grid-area: title;
    justify-content: center;
    align-self: center;
}

.grid-topic {
    grid-area: topic;
    justify-content: center; 
    align-self: center;   
}

.grid-author {
    grid-area: author;
    justify-content: center;
    align-self: center;
}

.grid-comment {
    grid-area: comment;
    justify-content: center;
    align-self: center;
}

.grid-date {
    grid-area: date;
    justify-content: center;
    align-self: center;
}

.grid-votes {
  grid-area: votes;
  justify-content: center;
  align-self: center;
}

.grid-container {
    background-color: rgb(238, 159, 48);
    display: grid;
    width: 250px;
    height: 300px;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
      "title title"
      "topic author "
      "votes comment"
      "date date";
  }

  /* Article card end */

/* Single article */

.single-article-container {
  padding: 0;
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-evenly;
  text-align: center;
}

.green-border {
  border: 2px solid green;
}

.Link {
  text-decoration: none;
  font-weight: bold;
  color: aliceblue;
}

/* Comment Layout */

.comments-parent-grid {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin: auto;
  width: 80vw;
}

.comments-grid-author {
  grid-area: author;
  justify-content: center;
  align-self: center;
}

.comments-grid-body {
  grid-area: body;
  justify-content: center;
  align-self: center;
}

.comments-grid-date {
  grid-area: date;
  justify-content: center;
  align-self: center;
}

.comments-grid-votes {
grid-area: votes;
justify-content: center;
align-self: center;
}

.comments-grid-container {
  background-color: rgb(238, 159, 48);
  display: grid;
  
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "author date votes"
    "body body body";
}


img {
  border-radius: 50%;
  height: 3rem;
  width: rem;
}

.error {
  background-color: red;
} 