body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color:  rgb(255, 224, 181);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 15px;
}

h1 {
  color: rgb(230, 110, 5);
  font-size: 3rem;
  font-weight: bold;
}

/* Nav bar start */
.nav_bar-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(238, 159, 48);
    height: 3rem;    
  }


  
  li {
    float: right;
    list-style-type: none;
  }
  
  .navbar__link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-weight: bold;
    text-decoration: none;
  }
  
  
  .navbar__link:hover {
    background-color: rgb(242, 3, 3);
  }

/* Nav bar end */

.parent-grid {  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    padding: 10px;
    border: none;
  
  
}

/* Article card start */

.grid-title {
    grid-area: title;
    margin: 0;
    padding-top: 15px;
    justify-content: center; 
    align-self: center; 
    height: 8vh;
    color:  rgb(221, 130, 3);
    
}

.grid-topic {
    grid-area: topic;
    justify-content: center; 
    align-self: center; 
    color: white;  
}

.grid-author {
    grid-area: author;
    justify-content: center;
    align-self: center;
    color: white;  
}

.grid-comment {
    grid-area: comment;
    justify-content: center;
    align-self: center;
    color: white;  
}

.grid-date {
    grid-area: date;
    justify-content: center;
    align-self: center;
    color: white;  
}

.grid-votes {
  grid-area: votes;
  justify-content: center;
  align-self: center;
  color: white;  
}

.grid-link {
  grid-area: link;
  justify-content: center;
  align-self: center;
  margin-top: 2px;
   
}

.grid-container {
  
    background-color: rgb(253, 193, 108);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: grid;
    width: 300px;
    height: 350px;
     
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
      "title title"
      "author author"
      "topic topic"
      "date date"
      "votes comment"
      "link link"
  }

  .grid-container:hover {
    opacity: 0.7;
  }

  /* Article card end */

/* Single article */

.single-article-container {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-evenly;
  text-align: center;
  font-size: 1.1rem;
  margin: auto;
  
}

.single-article-section {
  padding: 10px;
  width: 80vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  text-align: center;
  gap: 10px;
  color: rgb(31, 27, 27);
}

.green-border {
  border: 2px solid green;
}

.Link {
  text-decoration: none;
  font-weight: bold;
  color: aliceblue;
}

/* Comment Layout */

.comments-parent-grid {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin: auto;
  width: 80vw;
}

.comments-grid-author {
  grid-area: author;
  justify-content: center;
  align-self: center;
}

.comments-grid-body {
  grid-area: body;
  justify-content: center;
  align-self: center;
}

.comments-grid-date {
  grid-area: date;
  justify-content: center;
  align-self: center;
}

.comments-grid-votes {
grid-area: votes;
justify-content: center;
align-self: center;
}

.comments-grid-container {
  background-color: rgb(238, 159, 48);
  display: grid;
  
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "author date votes"
    "body body body";
}


img {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

.error {
  background-color: red;
} 

.signed-in-user {
  
  border-radius: 50%;
  height: 1.5rem;
  width: 1.8rem;
  
}

.comments-button {
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(238, 159, 48);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.comments-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.comments-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.comments-button:hover span {
  padding-right: 25px;
}

.comments-button:hover span:after {
  opacity: 1;
  right: 0;
}

.form {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  padding: 10px;
}

.main-colour-background {
  background-color:  rgb(238, 159, 48);
}

.main-colour-text {
  color: rgb(237, 145, 17);
  font-weight: bold;
}

.users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    gap: 10px;
    max-width: 200px;
    min-width: 50px;
    padding: 10px;
    border: none;
    background: white;
    opacity: 0.7;
    
}